{$DOMAIN:localhost} {
    handle_path /api* {
        reverse_proxy h2c://app:5000
    }
    handle {
        root * /dist
        try_files {path} /index.html
        file_server
    }
    @compress_exts {
        not path *.gif *.jpg *.png
    }
    encode @compress_exts gzip zstd
}
